<div class="row">
  <div class="col-md-8">
    <h2> Welcome to Proident! </h2>

    Check out the questions below, or ask your own!
    <hr>
    {{#each model as |question|}}
    <button class="btn btn-sm btn-danger" style="float: right;" {{action 'destroyQuestion' question}}>DELETE</button>
      <h4>{{question.title}}</h4> <small>by {{question.author}}</small>
      {{update-question question=question updateQuestion="updateQuestion"}}
      <hr>
    {{/each}}
  </div>
  <div class="col-md-4" id="newQuestion">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
