<h2>More information about {{model.author}}'s question</h2>
{{question-detail question=model destroyQuestion="destroyQuestion" updateQuestion="updateQuestion"}}
{{update-question question=model updateQuestion="updateQuestion"}}
<hr>
{{new-answer saveAnswer="saveAnswer" question=model}}

<div id="answers">
  <h3 style="text-align: center;">Answers</h3>
  {{#each model.answers as |answer|}}
    <hr>
    <span class="glyphicon glyphicon-remove-circle warning" aria-hidden="true" style="float: right; color: #d9534f;" {{action 'deleteAnswer' answer}}></span>
    <h5>{{answer.author}}</h5>
    {{answer.body}}
    {{update-answer answer=answer updateAnswer="updateAnswer"}}
  {{/each}}
</div>
